
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
}

/* Section-1 */

.section1{
    background-color: #1f2937;
    font-family:'Roboto','sans-serif';
    height:500px;
    
}

.header{
    display: flex;
    flex-direction: row;
}


.logo{
    display: flex;
    font-family:'Roboto','sans-serif';
    margin-right:auto;
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px; 
    padding:10px 200px;
    margin-bottom: 100px;
}

.nav{
    display: flex;
    gap:15px;
    color: #e5e7eb;   
    padding:5px 200px 10px;
}

li{
    list-style-type: none;
}

.m1 {
    display: flex; /* Use flex to align text and image side-by-side */
    align-items: center; /* Center vertically */
    gap: 70px; /* Add space between text and image */
    padding: 20px 200px; /* Adjust padding for overall spacing */
  }
  
  .headertext {
    flex: 1; /* Allow text section to take up remaining space */
    
  }
  
  .awesome {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }
  
  .headertext p {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 80px;
  }
  
  .signup1 {
    background-color: #3882F6;
    width: 150px;
    color: #e5e7eb;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .image1 img {
    width: 500px;
    height: 300px;
    object-fit: cover; /* Ensures the image maintains aspect ratio */
  }
    

  